/** Site style **/

footer {
    font-size:12px;
    color:#787878;
    margin-top:20px;
    padding-top:20px;
    text-align:center;
}

footer i {
    color:#ff0000;
}

body {
    padding-bottom: 20px;
}