<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Airtng - The Next Generation of Vacation rentals</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
          crossorigin="anonymous">

    <link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
    <link type="text/css" href="/static/css/scaffolds.css" rel="stylesheet"/>
    <link type="text/css" href="/static/css/vacation_properties.css" rel="stylesheet"/>
    <link type="text/css" href="/static/css/site.css" rel="stylesheet"/>

    <link rel="stylesheet" media="all"
          href="http://cdnjs.cloudflare.com/ajax/libs/authy-forms.css/2.2/form.authy.min.css"/>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% block nav_bg %}

{% endblock %}

<!-- Nav Bar -->
<nav class="navbar navbar-transparent">
    <a class="navbar-brand" href="/home">airtng</a>
    <ul class="navbar-nav navbar-right pull-right">
        {% include "_logstatus.html" %}
    </ul>
</nav>

{% block hero %}

{% endblock %}

<section id="main" class="push-nav">
    {% block content %}

    {% endblock %}
</section>

<footer class="container">
    Made with <i class="fa fa-heart"></i> by your pals
    <a href="http://www.twilio.com">@twilio</a>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/authy-forms.js/2.2/form.authy.min.js"></script>
</body>
</html>
