<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SMS Marketing Notifications</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/content/site.css"/>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Sms Notification</a>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}

</div>
<footer class="container text-center">
    <hr/>
    Made with <i class="fa fa-heart"></i> by your pals
    <a href="http://www.twilio.com">@twilio</a>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>